<a href="https://colab.research.google.com/github/salman-farshi/filteringDataset/blob/main/Dataset_filtering_git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem

---
##DataSet Description
We may have various types of data with ***Timestamp*** colume.  
For Example:  

##Problem Description  
We need to filter the input dataset based on Year/Month/Day/Hour/Min/Second.

#Solution

Importing all the necessary modules

In [ ]:
import pandas as pd

Reading CSV file and printing the dataset

In [ ]:
data=pd.read_csv("https://raw.githubusercontent.com/salman-farshi/filteringDataset/main/ML%20datasheet%20-%20Form%20responses%201.csv", sep=",")
#data.head()    #to see the imported file 

print(data.head(8))

             Timestamp       Name  Gender    Location
0  06/12/2020 08:30:34     Salman       M      Bremen
1  28/02/2021 21:05:07     Farshi       M     Germany
2  06/05/2020 01:48:23    Manisha       F  Bangladesh
3  12/12/2019 05:56:41      Mamun    Male      Bremen
4  26/07/2020 12:36:54  Chowdhury  Female         NaN
5  11/01/2021 15:15:09    Shohagh    male         NaN
6  21/11/2018 03:22:23       Sady    Male  Dhamoirhat
7  23/10/2020 17:37:35      Nihad    male    Rajshahi

In [ ]:
pd_time_format=pd.to_datetime(data.Timestamp, dayfirst=True) #coverting user timestamp to pandas timestamp format
print(pd_time_format)

0   2020-12-06 08:30:34
1   2021-02-28 21:05:07
2   2020-05-06 01:48:23
3   2019-12-12 05:56:41
4   2020-07-26 12:36:54
5   2021-01-11 15:15:09
6   2018-11-21 03:22:23
7   2020-10-23 17:37:35
Name: Timestamp, dtype: datetime64[ns]

Printing Years, Months, Days etc.

In [ ]:
print(pd_time_format.dt.year,'\t')
print(pd_time_format.dt.month, '\t')
print(pd_time_format.dt.day, '\t')
print(pd_time_format.dt.hour, '\t')
print(pd_time_format.dt.minute, '\t')
print(pd_time_format.dt.second, '\n')

0    2020
1    2021
2    2020
3    2019
4    2020
5    2021
6    2018
7    2020
Name: Timestamp, dtype: int64
0    12
1     2
2     5
3    12
4     7
5     1
6    11
7    10
Name: Timestamp, dtype: int64
0     6
1    28
2     6
3    12
4    26
5    11
6    21
7    23
Name: Timestamp, dtype: int64
0     8
1    21
2     1
3     5
4    12
5    15
6     3
7    17
Name: Timestamp, dtype: int64
0    30
1     5
2    48
3    56
4    36
5    15
6    22
7    37
Name: Timestamp, dtype: int64
0    34
1     7
2    23
3    41
4    54
5     9
6    23
7    35
Name: Timestamp, dtype: int64

Finding the day name

In [ ]:
pd_time_format[0].day_name()

'Sunday'

##Filter Datasheet
Useful links
* [Filter example](https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/)
* [Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html)

In [ ]:
is_year=pd_time_format.dt.year==2020
is_month=pd_time_format.dt.month.eq(12)
is_day=pd_time_format.dt.day==6
is_hour=pd_time_format.dt.hour.eq(8)
is_minute=pd_time_format.dt.minute.eq(30)
#pd.to_datetime(data.Timestamp).dt.month==6
abc=data[is_day & is_year & is_month]
print(abc)

             Timestamp    Name Gender Location
0  06/12/2020 08:30:34  Salman      M   Bremen